body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

h1 {
    color: white;
    padding: 100px;
    text-align: center;
    background: 
        linear-gradient(rgba(104, 125, 247, 0.2), rgba(71, 8, 8, 0.1)),
        url('trebleClef.gif') no-repeat center center;
    background-size: cover;
    width: fit-content;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headPart{
    background-color: rgb(27, 13, 117);
    padding: 50px;
}

.basketText{
    background-color: rgba(144, 187, 215, 0.8);
    font-size: 20px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.2);  /* Horizontal, vertical, blur, opacity */
    display: inline-block;    /* Keeps it wrapped around the content */
    padding: 10px;
    display: flex;
}

#paymentButton{
    font-size: 30px;
}

.checkout-summary {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* or center if you prefer centered layout */
    margin-top: 20px;
    background:rgba(230, 134, 156, 0.8);
    background-size: contain;
    padding: 100px;
}

#totalP{
    padding: 20px;
    font-size: 35px;
}

#environmentScoreP{
    padding: 20px;
    font-size: 30px;
}


.button-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 25vh;  /* Full viewport height */

}

#continueShopping {
    padding: 10px 20px;
    font-size: 45px;
    background-color: blue;
    color: white;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button{
    font-size: 20px;
   
}



