body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

#headPart {
    background-color: rgb(27, 13, 117);
    text-align: center;
    padding: 40px 20px;
}

h1 {
    color: white;
    margin: 0;
    font-size: 3em;
    background: 
        linear-gradient(rgba(104, 125, 247, 0.2), rgba(71, 8, 8, 0.1)),
        url('trebleClef.gif') no-repeat center center;
    padding: 100px;
}

#basketAndPayment {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 40px 80px;
    align-items: flex-start;
}

.basketText {
    background-color: rgba(144, 187, 215, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.basketText ul {
    list-style: none;
    padding: 0;
}

.basket-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.checkout-summary {
    background-color: rgba(230, 134, 156, 0.85);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: #fff;
}

#totalP, #environmentScoreP {
    font-size: 1.5em;
    margin: 20px 0;
}

#paymentButton {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#continueShopping {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#removeButton{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
