<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CSS Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='basketPage.css') }}">
</head>
<body>
<div id="headPart">
    <h1>Shopping Basket</h1>
</div>
<br>
<br>

<div class = basketText>
{% if empty %}
    <p>Your basket is empty!</p>
{% else %}
    <ul>
        {% for item in unique_items %}
            <li>
                <p><strong>{{ item.name }}  x {{ item_counts[item.name]}}</strong></p>
                <p>Price: {{ item.price }}</p>
                <p>Environment score: {{ item.environmentScore }} kg CO<sub>2</sub></p>
                <a href="{{ url_for('remove_from_basket', productId=item.id) }}">
                    <button>Remove</button>
                </a>
                
            </li>
            <br>
            <br>
        {% endfor %}
    </ul>
    
{%endif%}

</div>

<div class="checkout-summary">
    <p id="totalP"><strong>Total: </strong> £ {{ itemTotal }}</p>
    <p id="environmentScoreP"><strong>Environment score: </strong>{{ environmentScore }} kg CO<sub>2</sub></p>
    {% if empty %}
        <p></p>
    {% else %}
        <a href="{{ url_for('paymentPageFunction') }}">
            <button id="paymentButton">Payment page</button>
        </a>
    {% endif %}
</div>
<a href="{{ url_for('galleryPage') }}">
    <div class="button-container">
        <button id = "continueShopping">Continue Shopping</button>
    </div>
</a>
</body>
</html>