<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CSS Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>The Shop <a href="{{url_for('basketPage')}}"> <button id = "basketButton">Go to basket</button></a></h1>
<div class="product-container">
{% for tech in technologies %}
    <div>
        <h2>{{ tech.name }}</h2>
        <p>{{ tech.price }}</p>
        <p>{{ tech.description }}</p>
        <a href="{{ url_for('individualProductPage', techId=tech.id) }}"> <img src="{{ url_for('static', filename=tech.image) }}" alt="{{ url_for('static', filename=tech.image) }}" width="100"></a> 
        <p>Environmental score: {{ tech.environtmentalScore }}</p>
        <br>
        <a href="{{ url_for('add_to_basket', techId=tech.id) }}">
            <button>Add to Basket</button>
        </a>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endfor %}

</div>

</body>
</html>