<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ technology[1] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='individualItemPage.css') }}">

</head>
<body>
<div class = individualText>
    <a href="{{ url_for('galleryPage') }}">← Back to List</a>
    <h1>{{ technology[1] }}</h1>
    <br>
    <br>
    <div class="center-screen">
        <a href="{{ url_for('add_to_basket', techId=technology[0]) }}">
            <button id="addToBasketButton">Add to Basket</button>
        </a>
    </div>
    
    <br>
    <div id="productInfo">
        <p id="priceInfo"><strong>Price:</strong> {{ technology[2] }}</p>
        <br>
        <br>
        <br>
        <br>
        <p id="scoreInfo">Environmental score: {{ technology[6] }} kg CO2</p>
        <br>
        <br>
    </div>
    
    <p id="productParagraph">{{ technology[4] }} <br><br><img src="{{ url_for('static', filename=technology[5]) }}" alt="{{ technology[1] }}" width="350">
    </p>

    
</div>
</body>
</html>
